@import "~bootstrap-material-design";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// @import "~bootstrap-material-design/scss/color";
// @import "~bootstrap-material-design/scss/variables";

// @import "~materialize-sass/global";
// @import "~materialize-sass/icons-material-design";
// @import "~materialize-sass/preloader";
// @import "~materialize-sass/table_of_contents";
// @import "~materialize-sass/buttons";

// @import "~mdbootstrap-sass/data/prefixer";
// @import "~mdbootstrap-sass/data/mixins";
// @import "~mdbootstrap-sass/data/colors";
// @import "~mdbootstrap-sass/data/variables";
// $roboto-font-path: "../node_modules/mdbootstrap/font/roboto/";
// $image-path: "../node_modules/mdbootstrap/img/";

/** eliminate the nasty 32 pixel margin that BMD adds **/
.list-group.clean .list-group-item :first-child {
  margin-right: unset; // override BMD
}

.list-group.clean .list-group-item .material-icons:last-child {
  padding-left: unset !important;
}

$green-500: #198754;
$green-600: #43a047;
$orange-a700: #ff6d00;

h1 {
  font-weight: 400;
  margin-bottom: 1.5rem;
}

@mixin highlight-text {
  color: $grey-700;
  font-weight: 500;
}

.section .content {
  padding-left: 0.75rem;
}

.section h3 {
  width: 100%;
  border-bottom: 0.1rem solid $grey-400;
  margin-bottom: 1rem;
  padding-left: 0.1rem;
}

.resume.is-short .section {
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  .see-complete {
    font-style: italic;
  }
}

.resume.is-short h1 {
  font-size: 1.7rem;
}

@mixin happy-text {
  color: $orange-a700;
}

.quality {
  padding-top: 0;
  margin-bottom: 0.3rem;
}

.quality td > i {
  padding-right: 0.5rem;
}

.quality-body {
  // border-left: 3px solid $grey-400;
  padding-left: 0.5rem;
}

i.quality-bullet {
  font-weight: 900;
  color: $green-500;
  padding-right: 0.75rem;
}

// .quality-bullet i {
//   font-weight: 900;
//   font-size: 2rem;
//   padding: 0;
//   color: $green-500;
//   background-color: $grey-300 !important;
//   @extend .rounded-circle;
// }

.list-group-item.quality {
  display: inline-block;
}

.accomplishment-stars {
  text-align: center;
  margin-bottom: 0.75rem;
  padding-right: 3rem;
  width: 100%;
}

.accomplishment-star {
  color: $green-500;
  padding-right: 0.2rem;
}

.accomplishment-body {
  text-align: justify;
  padding-right: 3rem;
}

.accomplishment.list-group-item {
  padding-left: 0 !important;
}

.profile-icon {
  margin-right: 0.5rem;
  @include happy-text;
}

.sectionContainer {
  display: block;
  margin-bottom: 1.5rem;
}

.company-position,
.school-name {
  @include highlight-text;
}

.company .remote i,
.company .contract i,
.company .personal i {
  font-size: 1rem;
  color: $green-500;
}

.company-icons {
  display: inline-block;
  padding-left: 0.5rem;
}

.company-name {
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
}

.company {
  margin-bottom: 1.5rem;
}

// .school-grid-container {
//   display: grid;
//   grid-template-rows: auto auto;
//   grid-template-columns: auto auto;

//   // only 1 and 2 to avoid space at the bottom of the page when printing
//   .school:nth-child(1),
//   .school:nth-child(2) {
//     margin-bottom: 1.5rem;
//   }

//   @media screen and (max-width: 1200px) {
//     grid-template-columns: 1fr;

//     // only 1 and 2 to avoid space at the bottom of the page when printing
//     .school:not(:last-child) {
//       margin-bottom: 1.5rem;
//     }
//     .school:last-child {
//       margin-bottom: 0rem;
//     }
//   }
// }

.company .highlights {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.company .highlights a.show-link {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: $green-600;
  text-decoration: underline;
}

.company .highlights a.show-link i {
  margin-left: 0.25rem;
}

// .company .highlights.printing {
//   display: none;
// }

.show-entire-history {
  margin-bottom: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  color: $green-500;
  font-style: italic;
  font-weight: 400;
  i {
    padding-left: 6px;
  }
}
@media print {
  .resume.is-short .sectionContainer:not(.hidden-from-resume) {
    :last-child {
      // to help avoid occurance of extra page when printing
      margin-bottom: 0;
    }
  }
}

.company-summary {
  margin-bottom: 1rem;
}

.company .separator {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.skill-name {
  font-weight: normal;
  padding: 0.55rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  background-color: $grey-200;
  color: $grey-900;
}

.skills-header {
  cursor: pointer;

  i {
    padding-left: 6px;
    color: $green-500;
  }
}

.skills-for-category {
  margin-bottom: 1.5rem;
}

body {
  // for scrollspy
  position: relative;
}

#TOC a.active {
  border-left: 2px solid black;
  font-weight: bold;
}

#TOC a:hover,
#TOCSmall a:hover {
  opacity: 0.5;
}

#TOC a {
  padding-bottom: 0.1rem;
  color: inherit;
  border-left: 2px solid transparent;
  padding-left: 1.1rem;
}

nav#TOC {
  box-shadow: none;
  padding-left: 0;
}

#TOCSmall {
  z-index: 1030;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1030;
}

#TOCSmall a.active {
  font-weight: bold;
}

#TOCSmall button {
  background-color: $grey-100;
  opacity: 0.8;
}

#TOCSmall button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#TOCSmall a {
  padding-bottom: 0.1rem;
  color: inherit;
  padding-left: 1.1rem;
}

#TOCSmall .dropdown-menu {
  background-color: $grey-300;
}

.side-panel {
  position: fixed;
  z-index: 1030;
}

blockquote.testimonial .citation::before {
  font-family: "serif";
  content: "\201C";
  font-size: 4rem;
  position: absolute;
  left: -2.2rem;
  top: -1.75rem;
  color: #7a7a7a;
}

blockquote.testimonial {
  border: none !important;
  position: relative;
  display: inline-block;
  margin-left: 2.25rem;
  margin-bottom: 1.5rem;
}

.resume.is-short blockquote.testimonial {
  font-size: 1rem;
  font-style: italic;
  margin-right: 2.8rem;
  margin-top: 1rem;
}

@media print {
  .resume.is-short blockquote.testimonial {
    font-size: 0.9rem;
  }

  .resume.is-short blockquote.testimonial .blockquote-footer {
    margin-top: 0.7rem;
    font-size: 0.75rem;
  }
}

.resume.is-short blockquote.testimonial .citation::before {
  font-size: 3.1rem;
}

blockquote.testimonial .blockquote-quote {
  font-size: 1rem !important;
  font-style: italic;
}

blockquote.testimonial .blockquote-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.contact-info.inline.grid-container {
  display: grid;
  // first column should exactly fit content
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.contact-info.inline.grid-container blockquote.testimonial {
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  .resume.is-short .contact-info.inline.grid-container {
    grid-template-columns: 1fr;
  }
}

#publications-list {
  padding-left: 0.75rem;
  padding-right: 3rem;
}

/**
  just to convert div's from this json into p's
*/
.summary div {
  @extend p;
}

.travelling-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.travelling-grid-item {
  table.languages,
  table.citizenships {
    td {
      white-space: nowrap;
      &:first-child {
        padding-right: 2rem;
      }
    }
    th {
      @include highlight-text;
    }
  }
}

// .travelling-grid-hidden {
//   display: none;
// }

// @media print {
//   .travelling-grid {
//     display: none;
//   }
//   .travelling-grid-hidden {
//     display: block;
//   }
// }
